body {
    background-color:#282C33;
    ;;
}

h1{
    position: absolute;
    width: 517px;
    height: 74px;
    left: 306px;
    top: 63px;
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 79px;
    color: #FFFFFF;
}

p {
    position: absolute;
    width: 111px;
    height: 15px;
    left: 307px;
    top: 165px;
    
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    
    color: #ffffff;
}

.btn {
    position: absolute;
    width: 111px;
    height: 48px;
    left: 521px;
    top: 205px;
    background: #96EB95;
    ;
    border-radius: 10px;   
}

.coin {
    position: absolute;
    width: 171px;
    height: 48px;
    left: 306px;
    top: 200px;
    background: rgba(217, 217, 217, 0.1);
    border-radius: 10px;
}

.coin-btn {
    text-align: center;
}
#quadrado{
    position: absolute;
    width: 900px;
    height: 583px;
    left: 306px;
    top: 290px;

    background: rgba(255, 255, 255, 0.06);
border-radius: 20px;
}